
<div class="position-relative" style="margin-top: 300px;">
  <div class="position-absolute top-50 start-50 translate-middle">
  
      <h1 style="text-align: center;">Editar Articulo</h1>

      <form class="form-horizontal" style="margin:0 auto">

            <div class="form-group" style="width: 450px;">
            <label for="formGroupExampleInput">ID</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese ID" [(ngModel)]="publicacion.id">
            </div>

            <div class="form-group"  style="width: 450px;">
            <label for="formGroupExampleInput2">Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingrese Nombre" [(ngModel)]="publicacion.nombre">
            </div>

            <div class="form-group"  style="width: 450px;">
                <label for="formGroupExampleInput2">Precio</label>
                <div class="input-group mb-4">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{publicacion.precio}}">
                </div>
            </div>

            <div class="form-group"  style="width: 450px;">
                <label for="formGroupExampleInput2">Descripcion</label>
                <div class="input-group">
                <textarea class="form-control" aria-label="With textarea">{{publicacion.descripcion}}</textarea>
                </div>
            </div>

            <div class="custom-file" style="margin-top: 12px;width: 450px;">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Subir Imagen</label>
            </div>

            <div class="form-group" style="margin-top: 12px;">
            <button type="submit" class="btn btn-primary">Editar Articulo</button>
            </div>

      </form>
  </div>
</div>
