
<div class="row row-cols-3">
  <div class="col-md-8 offset-md-3" *ngIf="!publicaciones" style="margin-left: 39.666667%;">
    Cargando...
  </div>
  <div class="col-md-8 offset-md-5" *ngIf="publicaciones && publicaciones.length == 0" style="margin-left: 39.666667%;">
    No se encontraron Articulos
  </div>
    <div class="col" *ngFor="let publicacion of publicaciones">
        <div class="card border border-1" style="width: 18rem;margin:10px 10px 10px 10px;">
          <img src="http://localhost:3900/api/get-imagen/{{publicacion.imagen}}" class="card-img-top" alt="Imagen" style="width: 100%;height: 200px;">
          <div class="card-body">
            <h5 class="card-title">{{publicacion.nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{publicacion.id}}</h6>
            <p class="card-text">${{publicacion.precio}}</p>
           
          </div>
          <div class="d-grid gap-2" style="margin:10px 10px 10px 10px;">
            <button type="button" class="btn btn-danger btn-sm" style="align-content: center;" (click)="eliminar(publicacion._id)">Eliminar</button>
            <button type="button" class="btn btn-warning btn-sm" style="align-content: center;" [routerLink]="['/editararticulo/',publicacion._id]">Editar</button>
            <button type="button" class="btn btn-primary btn-sm" style="align-content: center;" [routerLink]="['/verarticulo/',publicacion._id]">Ver</button>
          </div>
        </div>
    </div>

</div>