<div class="position-relative" style="margin-top: 300px;">
    <div class="position-absolute top-50 start-50 translate-middle">

        <h1 style="text-align: center; padding-top: 100px;">{{encabezado}}</h1>

        <form class="form-horizontal" #publicacionForm="ngForm" style="margin:0 auto" (ngSubmit)="onSubmit()">

            <div class="form-group" style="width: 450px;">
                <label for="formGroupExampleInput">ID</label>
                <input type="text" name="id" #id="ngModel" class="form-control" id="formGroupExampleInput"
                    placeholder="Ingrese ID" [(ngModel)]="publicacion.id" required>
            </div>
            <small *ngIf="!id.valid && id.touched">
                ¡El ID no es valido!
            </small>

            <div class="form-group" style="width: 450px;">
                <label for="formGroupExampleInput2">Nombre</label>
                <input type="text" class="form-control" name="nombre" #nombre="ngModel" id="formGroupExampleInput2"
                    placeholder="Ingrese Nombre" [(ngModel)]="publicacion.nombre" required>
            </div>
            <small *ngIf="!nombre.valid && nombre.touched">
                ¡El Nombre no es valido!
            </small>

            <div class="form-group" style="width: 450px;">
                <label for="formGroupExampleInput2">Precio</label>
                <div class="input-group mb-4">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="precio" #precio="ngModel"
                        id="formGroupExampleInput2" [(ngModel)]="publicacion.precio" required>
                </div>
            </div>
            <small *ngIf="!precio.valid && precio.touched">
                ¡El precio no es valido!
            </small>

            <div class="form-group" style="width: 450px;">
                <label for="formGroupExampleInput2">Descripcion</label>
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" name="descripcion" #descripcion="ngModel"
                        id="formGroupExampleInput2" placeholder="Ingrese Descripcion"
                        [(ngModel)]="publicacion.descripcion" required></textarea>
                </div>
            </div>

            <small *ngIf="!descripcion.valid && descripcion.touched">
                ¡La Descripcion no es valida!
            </small>


            <div class="form-group" style="margin-top: 12px;">
                <angular-file-uploader 
                         [config]="afuConfig" 
                         (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
            </div>


            <div class="form-group" *ngIf="edit" style="width: 450px;height: 200px;">
                <img class="imagenedit" style="width: 450 px;height: 200px;"
                    src="http://localhost:3900/api/get-imagen/{{publicacion.imagen}}" alt="{{publicacion.nombre}" />
            </div>

            
            <div class="form-group" style="margin-top: 12px;">
                <button type="submit" class="btn btn-primary" [disabled]="publicacionForm.invalid">{{boton}}</button>
            </div>
        </form>
    </div>
</div>